<div class='row'>
  <div class='col-xs-12 col-sm-6'>
    <h2 class='pull-left'><%= class_period_short_label @class_period %></h2>
  </div>
  <div class='hidden-xs col-sm-6'>
    <div class='pull-right'><%= taught_by_teachers @class_period %></div>
  </div>
</div>

<% assignments = @class_period.assignments %>
<% student_class = @student.student_classes.find_by(class_period: @class_period) %>
<table class='table table-striped table-striped-column gradebook'>
  <thead>
    <th class=''>Topic</th>
    <th>Due Date</th>
    <th>Points</th>
  </thead>
  <tbody>
    <% assignments.each do |assignment| %>
      <tr>
        <td class='assignments-header'><div><span><%=assignment.name%></span></div></td>
        <td class='due-date'><%= assignment.due_at %></td>
        <% class_assignment = ClassAssignment.find_or_create_by(assignment: assignment, student_class: student_class) %>
        <td class='points-earned'><%= ClassAssignment.find_by(assignment: assignment, student_class: student_class).points_earned.presence || '' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
