<div class='row'>
  <div class='col-xs-2'>
    <ul class='units-nav nav nav-stacked nav-pills'>
      <p role='presentation'><strong><%= class_period_short_label @class_period %></strong></p>
      <% @class_period.units.each do |unit| %>
        <li role='presentation' class="<%='active' if @unit.id == unit.id %>">
          <%= link_to(unit.name,
                      playbook_path(unit_id: unit.id,
                                    class_period_id: @class_period.id,
                                    student_id: @student.id)) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class='col-xs-10'>
    <% assignments = @unit.assignments %>
    <% student_class = @student.student_classes.find_by(class_period: @class_period) %>
    <table class='table table-striped table-striped-column gradebook'>
      <thead>
        <th>Status</th>
        <th class='assignment'>Assignment</th>
        <th>Due Date</th>
        <th>Notes</th>
        <th>Worksheet</th>
        <th>Stars</th>
        <th>IXL</th>
      </thead>
      <tbody>
        <% assignments.each do |assignment| %>
          <% class_assignment = ClassAssignment.find_or_create_by(assignment: assignment, student_class: student_class) %>
          <tr>
            <td class='status <%=AssignmentStatus.new(class_assignment).status%> <%=AssignmentStatus.new(class_assignment).overdue_status%> '>
              <i class='fa fa-battery-<%=AssignmentStatus.new(class_assignment).battery_level%>' aria-hidden='true'></i>
            </td>
            <td class='name'><div><span><%=assignment.name%></span></div></td>
            <td class='due-date'><%= assignment.due_at %></td>
            <td class='notes-earned'>
              <% if assignment.notes_points_possible > 0 %>
                <%= class_assignment.notes_earned.presence || '<i class="fa fa-square-o" aria-hidden="true"></i>'.html_safe %>
                <span class='points-possible'> / <%=assignment.notes_points_possible%></span>
              <% end %>
            </td>
            <td class='points-earned'>
              <% if assignment.worksheet_points_possible > 0 %>
                <%= class_assignment.points_earned.presence || '<i class="fa fa-square-o" aria-hidden="true"></i>'.html_safe %>
                <span class='points-possible'> / <%=assignment.worksheet_points_possible%></span>
              <% end %>
            </td>
            <td class='stars-earned'><%= class_assignment.stars_earned.presence || '' %></td>
            <td class='ixl-earned'>
              <% if assignment.ixl_points_possible > 0 %>
                <%= class_assignment.ixl_earned.presence || '<i class="fa fa-square-o" aria-hidden="true"></i>'.html_safe %>
                <span class='points-possible'> / <%=assignment.ixl_points_possible%></span>
                <% if assignment.ixl_description.present? %>
                  <span class='ixl-description'>[<%= link_to("#{assignment.ixl_description}", assignment.ixl_url, target: '_blank') %>]</span>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class='pull-right'><%= taught_by_teachers @class_period %></div>
  </div>
</div>
