<div class='row'>
  <div class='col-xs-2'>
    <ul class='units-nav nav nav-stacked nav-pills'>
      <p role='presentation'><strong><%= class_period_short_label @playbook.class_period %></strong></p>
      <% @playbook.class_period.units.visible.each do |unit| %>
        <li role='presentation' class="<%='active' if @playbook.unit.id == unit.id %>">
          <%= link_to(unit.name,
                      playbook_path(unit_id: unit.id,
                                    class_period_id: @playbook.class_period.id,
                                    student_id: @playbook.student.id)) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class='col-xs-10'>
    <table class='table table-striped table-striped-column gradebook'>
      <thead>
        <th>Status</th>
        <th class='assignment'>Assignment</th>
        <th>Due Date</th>
        <th>Notes</th>
        <th>Worksheet</th>
        <th>Stars</th>
        <th>IXL</th>
      </thead>
      <tbody>
        <% @playbook.class_assignments.each do |class_assignment| %>
          <tr class='<%=@playbook.overdue_status(class_assignment)%> <%=@playbook.assignment_status(class_assignment)%>' >
            <td class='status'>
              <i class='fa fa-battery-<%=@playbook.battery_level(class_assignment)%> battery' aria-hidden='true'></i>
              <i class='fa fa-trophy trophy' aria-hidden='true'></i>
            </td>
            <td class='name'><div><span><%=class_assignment.name%></span></div></td>
            <td class='due-date'><%= class_assignment.due_at %></td>
            <td class='notes-earned'>
              <% if class_assignment.notes_points_possible > 0 %>
                <%= class_assignment.notes_earned.presence || '<i class="fa fa-square-o" aria-hidden="true"></i>'.html_safe %>
                <span class='points-possible'> / <%=class_assignment.notes_points_possible%></span>
              <% else %>
                <i class="fa fa-ban" aria-hidden="true"></i>
              <% end %>
            </td>
            <td class='points-earned'>
              <% if class_assignment.worksheet_points_possible > 0 %>
                <%= class_assignment.points_earned.presence || '<i class="fa fa-square-o" aria-hidden="true"></i>'.html_safe %>
                <span class='points-possible'> / <%=class_assignment.worksheet_points_possible%></span>
              <% else %>
                <i class="fa fa-ban" aria-hidden="true"></i>
              <% end %>
            </td>
            <td class='stars-earned'>
              <% if class_assignment.star_points_possible > 0 %>
                <% if class_assignment.stars_earned.present? %>
                  <% class_assignment.stars_earned.times do %>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  <% end %>
                <% else %>
                  <i class="fa fa-square-o" aria-hidden="true"></i>
                  <span class='stars-possible'> / <%=class_assignment.star_points_possible%></span>
                <% end %>
              <% else %>
                <i class="fa fa-ban" aria-hidden="true"></i>
              <% end %>
            </td>
            <td class='ixl-earned'>
              <% if class_assignment.ixl_points_possible > 0 %>
                <%= class_assignment.ixl_earned.presence || '<i class="fa fa-square-o" aria-hidden="true"></i>'.html_safe %>
                <span class='points-possible'> / <%=class_assignment.ixl_points_possible%></span>
                <% if class_assignment.ixl_description.present? %>
                  <span class='ixl-description'>[<%= link_to("#{class_assignment.ixl_description}", class_assignment.ixl_url, target: '_blank') %>]</span>
                <% end %>
              <% else %>
                <i class="fa fa-ban" aria-hidden="true"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
