<div class='row'>
  <div class='col-xs-12 col-sm-6'>
    <h2 class='pull-left'><%= class_period_short_label @class_period %></h2>
  </div>
  <div class='hidden-xs col-sm-6'>
    <div class='pull-right'><%= taught_by_teachers @class_period %></div>
  </div>
</div>

<% assignments = @class_period.assignments %>
<% student_class = @student.student_classes.find_by(class_period: @class_period) %>
<table class='table table-striped table-striped-column gradebook'>
  <thead>
    <th class='assignment'>Assignment</th>
    <th>Due Date</th>
    <th>Notes</th>
    <th>Worksheet</th>
    <th>Stars</th>
    <th>IXL</th>
  </thead>
  <tbody>
    <% assignments.each do |assignment| %>
      <tr>
        <td class='name'><div><span><%=assignment.name%></span></div></td>
        <td class='due-date'><%= assignment.due_at %></td>
        <% class_assignment = ClassAssignment.find_or_create_by(assignment: assignment, student_class: student_class) %>
        <td class='notes-earned'><%= class_assignment.notes_earned.presence || '' %></td>
        <td class='points-earned'><%= class_assignment.points_earned.presence || '' %></td>
        <td class='stars-earned'><%= class_assignment.stars_earned.presence || '' %></td>
        <td class='ixl-earned'><%= class_assignment.ixl_earned.presence || '' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
