<h2><%= assignment.name %></h2>

<% form_objects = (assignment.new_record?) ? [unit, assignment] : [assignment] %>
<%= semantic_form_for form_objects do |form| %>
  <%= form.inputs do %>
    <%= form.input :name %>
    <%= form.input :order %>
    <%= form.input :due_at, as: :string, input_html: {class: 'datepicker'} %>
    <%= form.input :points_possible %>
    <%= form.input :stars_possible %>
    <%= form.input :unit_id, as: :hidden %>
  <% end %>
  <%= form.actions do %>
    <%= form.action :submit %>
  <% end %>
<% end %>
