<h2><%= assignment.name %></h2>
<%= semantic_form_for [unit, assignment] do |form| %>
  <%= form.inputs do %>
    <%= form.input :name %>
    <%= form.input :order %>
    <%= form.input :points_possible %>
    <%= form.input :stars_possible %>
    <%= form.input :unit_id, as: :hidden %>
  <% end %>
  <%= form.actions do %>
    <%= form.action :submit %>
  <% end %>
<% end %>
