<div class='row'>
  <div class='col-xs-2'>
    <ul class='units-nav nav nav-stacked nav-pills'>
      <p role='presentation'><strong><%= class_period_short_label @gradebook.class_period %></strong></p>
      <% @gradebook.class_period.units.each do |unit| %>
        <li role='presentation' class="<%='active' if @gradebook.unit.id == unit.id %>">
          <%= link_to(unit.name, gradebook_path(unit_id: unit.id, class_period_id: @gradebook.class_period.id)) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class='col-xs-10'>
    <% assignments = @gradebook.assignments %>
    <% if @gradebook.setup_complete? %>
      <table class='table table-striped gradebook'>
        <thead>
          <th class='name'>Students</th>
          <th class='percentage'>%</th>
          <th class='total-points'>Total (<%= @gradebook.total_points_possible%>)</th>
          <% assignments.each do |assignment| %>
            <% if assignment.notes_points_possible > 0 %>
              <th class='assignments-header rotate'>
                <div>
                  <span title='<%=assignment.name%> Notes'>
                    (<%=assignment.notes_points_possible%> <i class="fa fa-book" aria-hidden="true"></i>)
                    <%=truncate("#{assignment.name} Notes", length: 23)%>
                  </span>
                </div>
              </th>
            <% end %>
            <% if assignment.worksheet_points_possible > 0 %>
              <th class='assignments-header rotate'>
                <div>
                  <span title='<%=assignment.name%> Worksheet'>
                    (<%=assignment.worksheet_points_possible%> <i class="fa fa-product-hunt" aria-hidden="true"></i>)
                    <%=truncate("#{assignment.name} Worksheet", length: 23)%>
                  </span>
                </div>
              </th>
            <% end %>
            <% if assignment.star_points_possible > 0 %>
              <th class='assignments-header rotate'>
                <div>
                  <span title='<%=assignment.name%> Stars'>
                    (<%=assignment.star_points_possible%> <i class="fa fa-star" aria-hidden="true"></i>)
                    <%=truncate("#{assignment.name} Stars", length: 23)%>
                  </span>
                </div>
              </th>
            <% end %>
            <% if assignment.ixl_points_possible > 0 %>
              <th class='assignments-header rotate'>
                <div>
                  <span title='<%=assignment.name%> IXL'>
                    (<%=assignment.ixl_points_possible%> <i class="fa fa-arrow-up" aria-hidden="true"></i>)
                    <%=truncate("#{assignment.name} IXL", length: 23)%>
                  </span>
                </div>
              </th>
            <% end %>
          <% end %>
          <th></th>
        </thead>
        <tbody>
          <% @gradebook.students.each do |student| %>
            <tr id='student-<%=student.id%>' class='student'>
              <td class='name'><%=student.display_name%></td>
              <td class='percentage'><%=number_to_percentage(@gradebook.percentage_for(student), precision: 0)%></td>
              <td class='total-points'><%=@gradebook.points_for(student)%></td>

              <% assignments.each do |assignment| %>
                <% class_assignment = @gradebook.class_assignment_for(student, assignment)%>

                <% if assignment.notes_points_possible > 0 %>
                  <td class='assignment notes'>
                    <%= semantic_form_for class_assignment, remote: true do |f| %>
                      <%= f.input :notes_earned, as: :string, label: false, input_html: {class: 'autosave notes_earned'} %>
                      <noscript>
                        <%= f.actions %>
                      </noscript>
                    <% end %>
                  </td>
                <% end %>

                <% if assignment.worksheet_points_possible > 0 %>
                  <td class='assignment worksheet'>
                    <%= semantic_form_for class_assignment, remote: true do |f| %>
                      <%= f.input :points_earned, as: :string, label: false, input_html: {class: 'autosave worksheet_points_earned'}, prompt: 'points' %>
                      <noscript>
                        <%= f.actions %>
                      </noscript>
                    <% end %>
                  </td>
                <% end %>

                <% if assignment.star_points_possible > 0 %>
                  <td class='assignment stars'>
                    <%= semantic_form_for class_assignment, remote: true do |f| %>
                      <%= f.input :stars_earned, as: :string, label: false, input_html: {class: 'autosave stars_earned'} %>
                      <noscript>
                        <%= f.actions %>
                      </noscript>
                    <% end %>
                  </td>
                <% end %>

                <% if assignment.ixl_points_possible > 0 %>
                  <td class='assignment ixl'>
                    <%= semantic_form_for class_assignment, remote: true do |f| %>
                      <%= f.input :ixl_earned, as: :string, label: false, input_html: {class: 'autosave ixl_earned'} %>
                      <noscript>
                        <%= f.actions %>
                      </noscript>
                    <% end %>
                  </td>
                <% end %>

              <% end %>
              <td class='greedy'></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class='pull-right'><%= taught_by_teachers @gradebook.class_period %></div>
    <% else %>
      <% if @gradebook.assignments.blank? %>
        <%= render partial: 'shared/jumbo',
                            locals: {
                              jumbo_text: "No assignments for #{@gradebook.unit.name}!",
                              button_text: 'Create One',
                              url: new_unit_assignment_path(@gradebook.unit) } %>
      <% elsif %>
        <%= render partial: 'shared/jumbo',
                            locals: { jumbo_text: "No students for #{class_period_short_label @gradebook.class_period}!" } %>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('body.gradebooks.show').on('change', '.assignment input.autosave', function(e){
      $(e.target).parents('form').submit();
    });

    $('table.gradebook').arrowTable({
      afterMove: function(arrow, target, direction){
        var save_this = $(target);
        window.setTimeout (function(){
          console.log(save_this.find('.autosave'));
          save_this.find('.autosave').select();
        },10);
      }
    })
  });
</script>
