<h1><%= class_period_short_label @class_period %></h1>
<div><%= taught_by_teachers @class_period %></div>
<% assignments = @class_period.assignments %>
<table class='table table-striped gradebook'>
  <thead>
    <th class=''>Students</th>
    <% assignments.each do |assignment| %>
      <th class='assignments-header'><%=assignment.name%></th>
    <% end %>
  </thead>
  <tbody>
    <% @class_period.students.each do |student| %>
      <% student_class = student.student_classes.find_by(class_period: @class_period)%>
      <tr class='student'>
        <td class='name'><%=student.display_name%></td>

        <% assignments.each do |assignment| %>
          <td class='assignment'>
            <% class_assignment = ClassAssignment.find_or_create_by(assignment: assignment, student_class: student_class) %>
            <%= semantic_form_for class_assignment do |f| %>
              <%= f.input :points_earned %>
              <%= f.actions %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
