<div class='row'>
  <div class='col-xs-12 col-sm-6'>
    <h2 class='pull-left'><%= class_period_short_label @gradebook.class_period %></h2>
  </div>
  <div class='hidden-xs col-sm-6'>
    <div class='pull-right'><%= taught_by_teachers @gradebook.class_period %></div>
  </div>
</div>
<% assignments = @gradebook.assignments %>
<table class='table table-striped gradebook'>
  <thead>
    <th class=''>Students</th>
    <th class='percentage'>%</th>
    <th class='total-points'>Total (<%= @gradebook.total_points_possible%>)</th>
    <% assignments.each do |assignment| %>
      <% if assignment.notes_points_possible > 0 %>
             <th class='assignments-header rotate'><div><span>(<%=assignment.notes_points_possible%>) <%=assignment.name%> Notes</span></div></th>
      <% end %>
      <% if assignment.worksheet_points_possible > 0 %>
        <th class='assignments-header rotate'><div><span>(<%=assignment.worksheet_points_possible%>) <%=assignment.name%> Worksheet</span></div></th>
      <% end %>
      <% if assignment.star_points_possible > 0 %>
        <th class='assignments-header rotate'><div><span>(<%=assignment.star_points_possible%>) <%=assignment.name%> Stars</span></div></th>
      <% end %>
      <% if assignment.ixl_points_possible > 0 %>
        <th class='assignments-header rotate'><div><span>(<%=assignment.ixl_points_possible%>) <%=assignment.name%> IXL</span></div></th>
      <% end %>
    <% end %>
    <th></th>
  </thead>
  <tbody>
    <% @gradebook.students.each do |student| %>
      <tr id='student-<%=student.id%>' class='student'>
        <td class='name'><%=student.display_name%></td>
        <td class='percentage'><%=number_to_percentage(@gradebook.percentage_for(student), precision: 0)%></td>
        <td class='total-points'><%=@gradebook.total_points_for(student)%></td>

        <% assignments.each do |assignment| %>
          <% class_assignment = @gradebook.class_assignment_for(student, assignment)%>

          <% if assignment.notes_points_possible > 0 %>
            <td class='assignment notes'>
              <%= semantic_form_for class_assignment, remote: true do |f| %>
                <%= f.input :notes_earned, as: :string, label: false, input_html: {class: 'autosave notes_earned'} %>
                <noscript>
                  <%= f.actions %>
                </noscript>
              <% end %>
            </td>
          <% end %>

          <% if assignment.worksheet_points_possible > 0 %>
            <td class='assignment worksheet'>
              <%= semantic_form_for class_assignment, remote: true do |f| %>
                <%= f.input :points_earned, as: :string, label: false, input_html: {class: 'autosave worksheet_points_earned'}, prompt: 'points' %>
                <noscript>
                  <%= f.actions %>
                </noscript>
              <% end %>
            </td>
          <% end %>

          <% if assignment.star_points_possible > 0 %>
            <td class='assignment stars'>
              <%= semantic_form_for class_assignment, remote: true do |f| %>
                <%= f.input :stars_earned, as: :string, label: false, input_html: {class: 'autosave stars_earned'} %>
                <noscript>
                  <%= f.actions %>
                </noscript>
              <% end %>
            </td>
          <% end %>

          <% if assignment.ixl_points_possible > 0 %>
            <td class='assignment ixl'>
              <%= semantic_form_for class_assignment, remote: true do |f| %>
                <%= f.input :ixl_earned, as: :string, label: false, input_html: {class: 'autosave ixl_earned'} %>
                <noscript>
                  <%= f.actions %>
                </noscript>
              <% end %>
            </td>
          <% end %>

        <% end %>
        <td class='greedy'></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    $('body.gradebooks.show').on('change', '.assignment input.autosave', function(e){
      $(e.target).parents('form').submit();
    });

    $('table.gradebook').arrowTable();
  });
</script>
