<h1><%= class_period_short_label @class_period %></h1>
<div><%= taught_by_teachers @class_period %></div>
<% assignments = @class_period.assignments %>
<table class='gradebook'>
  <thead>
    <th class=''>Students</th>
    <% assignments.each do |assignment| %>
      <th class='assignments-header'><%=assignment.name%></th>
    <% end %>
  </thead>
  <tbody>
    <% @class_period.students.each do |student| %>
      <tr class='student row'>
        <td class='name'><%=student.display_name%></td>
        <% student_class = student.student_classes.where(class_period: @class_period) %>
        <% assignments.each do |assignment| %>
          <% assignment.class_assignments.where(student_class: student_class).each do |class_assignment| %>
            <td class='assignment'>
              <%= semantic_form_for class_assignment do |f| %>
                <%= f.input :points_earned %>
                <%= f.actions %>
              <% end %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
