<div class='panel panel-primary'>
  <div class='panel-heading'>
    <div class='panel-title'>
      <h1><%= (course.new_record?) ? 'New course' : course.name %></h1>
    </div>
  </div>

  <div class='panel-body'>
    <%= semantic_form_for @course do |form| %>
      <%= form.inputs do %>
        <%= form.input :name %>
        <%= form.input :year %>
      <% end %>
      <%= form.actions do %>
        <%= form.action :submit %>
      <% end %>
    <% end %>
  </div>
</div>
