<h2>All Courses</h2>
<ul class='courses'>
<% @courses.each do |course| %>
  <a href="<%= course_path(course) %>">
    <li data-course-id=<%= course.id %>>
      <a href="<%= course_path(course) %>"><%= course %></a>
      (<%= "Units: #{course.units.map(&:name).join(',')}" if course.units.present? %>)
      <%#(<%= "Assignments: #{course.assignments.map(&:name).join(',')}" if course.assignments.present? %>
      <%= link_to 'edit', edit_course_path(course) %>
      <%= link_to 'delete', course_path(course), method: :delete,
                  data: { confirm: "Are you sure you want to delete course: #{course.name}" } %>
    </li>
<% end %>
</ul>
<p><%= link_to 'Create a new course', new_course_path %></p>
