<% if @course.units.present? %>
  <div class='panel panel-primary list-panel'>
    <div class='panel-heading'>
      <div class='panel-title'>
        <div class='row'>
          <div class='col-md-6'>
            <h1><%= @course %></h1>
          </div>
          <div class='col-md-6'>
            <div class='pull-right'>
              <%= link_to 'New Unit', new_course_unit_path(@course), class: 'new nit btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='panel-body'>
      <ul class='units list-group'>
        <% @units.each do |unit| %>
          <li data-unit-id=<%=unit.id%> class='unit list-group-item clearfix'>
            <div class='btn-group pull-right'>
              <%= link_to unit_toggle_visibility_path(unit), class: 'btn btn-default toggle_visibility' do %>
                <% if unit.visible %>
                  Hide from Students
                <% else %>
                  Show to Students
                <% end %>
              <% end %>
              <%= link_to edit_unit_path(unit), class: 'btn btn-default' do %>
                <%= fa_icon 'pencil', text: 'Edit' %>
              <% end %>
              <%= link_to unit_path(unit), method: :delete, class: 'btn btn-default',
                  data: { confirm: "Are you sure you want to delete: #{unit.name}" } do %>
                    <%= fa_icon 'times', text: 'Delete' %>
              <% end %>
            </div>
            <strong class='block'>
              <%= link_to unit.name, unit_path(unit)%>
              <small>[<%= unit.possible_points %> points possible]</small>
            </strong>
            <span class="visiblitiy"><%=unit.visible ? 'Visible to Students' : 'Hidden from Students' %></span>
            <small class='hide-overflow'>
              <strong>Assignments:</strong> <%= unit.assignments.map(&:name).join(', ').presence || 'none' %>
            </small>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% else %>
  <%= render partial: 'shared/jumbo',
                      locals: {
                      jumbo_text: 'This course has no units!',
                      button_text: 'Create One',
                      url: new_course_unit_path(@course) } %>
<% end %>
