<div class='row'>
  <div class='col-md-6'>
    <h2><%= @unit %> <small>(<%= @unit.possible_points %> points possible)</small></h2>
  </div>
  <div class='col-md-6'>
    <div class='pull-right'>
      <%= link_to 'New Assignment', new_unit_assignment_path(@unit), class: 'btn btn-primary' %>
    </div>
  </div>
</div>

<% if @unit.assignments.present? %>
  <h3>Assignments</h3>
  <ul class='assignments list-group'>
    <% @unit.assignments.each do |assignment| %>
      <li data-assignment-id=<%=assignment.id%> class='assignment list-group-item clearfix'>
        <div class='btn-group pull-right'>
          <%= link_to edit_assignment_path(assignment), class: 'btn btn-default' do %>
            <%= fa_icon 'pencil', text: 'Edit' %>
          <% end %>
          <%= link_to assignment_path(assignment), method: :delete, class: 'btn btn-default',
                      data: { confirm: "Are you sure you want to delete: #{assignment.name}" } do %>
            <%= fa_icon 'times', text: 'Delete' %>
          <% end %>
        </div>
        <strong><%=assignment.name%></strong>
        <small>
          Points: <%=assignment.worksheet_points_possible%> - Stars: <%=assignment.star_points_possible%> -
          IXL: <%=assignment.ixl_points_possible%> - Notes: <%=assignment.notes_points_possible%> -
          Due Date: <%=assignment.due_at%>
        </small>
    </li>
  <% end %>
  </ul>
<% else %>
  <%= render partial: 'shared/jumbo',
                      locals: {
                      jumbo_text: 'There are no assignments!',
                      button_text: 'Create One',
                      url: new_unit_assignment_path(@unit) } %>
<% end %>
