<!DOCTYPE html>
<html>
  <head>
    <title>Teachy</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id='main-container' class='container'>
      <div class='row'>
        <div class='col-12'>
          <%= render 'layouts/navigation_bar' %>
        </div>
      </div>

      <div class='row'>
        <div class='col-12'>
          <%= yield %>
        </div>
      </div>
  </body>
</html>
